<div class="row mt-5">
  <div class="col-lg-6 offset-lg-3">
    <h2 class="text-center pb-2">{{ "ingrese presupuesto" | uppercase }}</h2>
    <div class="card">
      <div class="card-body">
        <div class="text-center mssgError mb-3">
          <span
            class="badge bg-danger"
            *ngIf="presupuesto.hasError('required') && presupuesto.touched"
            >{{ "EL presupuesto es obligatorio" | uppercase }}</span
          >
          <span
            *ngIf="presupuesto.hasError('min') && presupuesto.touched"
            class="badge bg-danger"
            >{{ "EL presupuesto debe ser mayor a cero" | uppercase }}</span
          >
          <span
            *ngIf="presupuesto.hasError('isNegative') && presupuesto.touched"
            class="badge bg-danger"
            >{{ "EL presupuesto no puede ser negativo" | uppercase }}</span
          >
        </div>

        <input
          type="number"
          class="form-control form-control-lg text-center"
          placeholder="Presupuesto..."
          [formControl]="presupuesto"
          [ngClass]="{ hayErrores: presupuesto.errors && presupuesto.touched }"
        />

        <button
          type="button"
          [disabled]="!presupuesto.valid"
          (click)="salir()"
          class="btn btn-lg btn-block mt-3 text-white w-100"
          id="aceptar"
        >
          <mat-icon class="pt-1">credit_card</mat-icon>
          {{ "aceptar" | uppercase }}
        </button>
      </div>
    </div>
  </div>
</div>
